{% extends 'base.html' %}
{% load static %}

{% block title %}
Home Page
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/companydashboard.css' %}">
{% endblock %}

{% block content %}
<header>
    <h1>Company Dashboard</h1>
</header>

<main>
    <div class="dashboard">
        <div class="dashboard-item">
            <h2>{{ company.name }}</h2>
            <p>{{ company.address }}</p>
        </div>
        <div class="dashboard-item">
            <h2>View Enquiries</h2>
            <p>Check incoming customer enquiries.</p>
            <a href="{% url 'Company-notification' %}">View orders and notifications</a>
        </div>
    </div>
</main>

<footer>
    <p>&copy; 2024 AutoConnect</p>
</footer>
{% endblock %}