{% extends 'base.html' %}
{% load static %}

{% block title %}
Home Page
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/companyprofile.css' %}">
{% endblock %}

{% block content %}
<header>
    <h1>Company Name</h1>
</header>

<main>
    <section class="company-details">
        <h2>About the Company</h2>
        <p>Details about the company, services offered, and more.</p>

        <h3>Contact Information</h3>
        <p>Email: info@company.com</p>
        <p>Phone: (123) 456-7890</p>
    </section>
</main>

<footer>
    <p>&copy; 2024 AutoConnect</p>
</footer>
{% endblock %}