{% extends 'base.html' %}
{% load static %}

{% block title %}
    Company registrataion
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/companyreg.css' %}">
{% endblock %}

{% block content %}
    <header>
        <h1>Company Registration</h1>
    </header>

    <main>
        <!-- <form class="company-form">
            <input type="text" placeholder="Company Name" required>
            <input type="email" placeholder="Company Email" required>
            <input type="text" placeholder="Phone Number" required>
            <input type="text" placeholder="Location" required>
            <input type="password" placeholder="Password" required>
            <button type="submit">Register</button>
        </form> -->
        <form class="company-form" method="POST" action="">
            {% csrf_token %}

            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </main>

    <footer>
        <p>&copy; 2024 AutoConnect</p>
    </footer>
{% endblock %}