{% extends 'base.html' %}
{% load static %}

{% block title %}
    Companies list
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/Listofcompanies.css' %}">
{% endblock %}

{% block content %}
    <header>
        <h1>Companies</h1>
    </header>

    <form class="search-bar" method="GET" action="{% url 'Companies' %}">
        <input type="text" name="q" placeholder="Search companies..." />
        <button type="submit">Search</button>
    </form>
    </div>

    <main>
        <div class="company-list">
            {% if companies %}
            
            {% for company in companies %}
                <div class="company-item">
                    <a href="{% url 'company_dashboard' company.id %}">{{ company.name }}</a>
                    <p>{{ company.email }}.</p>
                    <a href="{% url 'contact_company' %}">Contact company</a>
                </div>
            {% endfor %}
            {% else %}
            <h4>Your search did not match any company profile.</h4>
            {% endif %}
            <!-- Add more companies here -->
        </div>
    </main>

    <footer>
        <p>&copy; 2024 AutoConnect</p>
    </footer>
{% endblock %}