{% extends 'base.html' %}
{% load static %}

{% block title %}
Rest Password
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/passwordreset.css' %}">
{% endblock %}

{% block content %}
    <header>
        <h1>Reset Password</h1>
    </header>

    <main>
        <div class="reset-password-container">
            <form class="reset-password-form" action="/submit-reset-password" method="POST">
                <label for="email-username">Email or Username:</label>
                <input type="text" id="email-username" name="email_username" placeholder="Enter your email or username" required>

                <label for="old-password">Old Password:</label>
                <input type="password" id="old-password" name="old_password" placeholder="Enter your old password" required>

                <label for="new-password">New Password:</label>
                <input type="password" id="new-password" name="new_password" placeholder="Enter your new password" required>

                <label for="confirm-password">Confirm New Password:</label>
                <input type="password" id="confirm-password" name="confirm_password" placeholder="Confirm your new password" required>

                <button type="submit">Reset Password</button>
            </form>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 AutoConnect</p>
    </footer>
{% endblock %}