{% extends 'base.html' %}
{% load static %}

{% block title %}
    User Login
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/useregistration.css' %}">
{% endblock %}

{% block content %}
    <header>
        <h1>User Login</h1>
    </header>

    <main>
        <!-- <form class="user-form">
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form> -->
        <form class="user-form" method="POST" action="">
            {% csrf_token %}
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            <input type="text" placeholder="Enter username or password" name="username">
            <input type="password" placeholder="Enter your password" name="password">
            <input type="submit" value="Submit">
        </form>
    </main>
    <a href="{% url 'Passwordreset' %}">Reset Password</a>
    <footer>
        <p>&copy; 2024 AutoConnect</p>
    </footer>
{% endblock %}