{% extends 'base.html' %}
{% load static %}

{% block title %}
    User Registration
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/useregistration.css' %}">
{% endblock %}

{% block content %}
    <header>
        <h1>User Registration</h1>
    </header>

    <main>
        <form method="POST" action="">
            {% csrf_token %}
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </main>

    <footer>
        <p>&copy; 2024 AutoConnect</p>
    </footer>
{% endblock %}