body {
    text-align: center;
}

header h1 {
    font-size: 72px;
    color: #ff0000;
}

header p {
    font-size: 18px;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #00539C;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #007ACC;
}
