.search-filters {
    margin: 20px auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.search-filters input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-filters button {
    padding: 10px;
    background-color: #00539C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
