body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00539C;
    color: white;
    padding: 20px;
    text-align: center;
}

.company-list {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.company-item {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.company-item a {
    text-decoration: none;
    color: #00539C;
    font-size: 24px;
}

.company-item p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

footer {
    background-color: #00539C;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
